In [53]:
import pandas as pd
from datetime import datetime

In [62]:
data = pd.read_excel('음식점_세부정보_24-08-28.xlsx')
data.head()

,검색어,검색결과,title,link,category,description,telephone,address,roadAddress,latitude,longitude
0,성수카페거리,37.5 시그니처 성수,37.5 시그니처 성수,https://www.instagram.com/37.5signature_seongsu_/,양식>브런치,NaN,NaN,"서울특별시 성동구 성수동2가 316-31 1,2,3층 37.5 시그니처 성수","서울특별시 성동구 연무장길 41-19 1,2,3층 37.5 시그니처 성수",37.543390,127.054130
1,성수카페거리,탐광,탐광,NaN,음식점>일식>일식당,NaN,NaN,서울특별시 성동구 성수동2가 315-24,서울특별시 성동구 연무장5가길 26,37.543213,127.055448
2,성수카페거리,타이거풀 성수,타이거풀 성수,https://catchtable.co.kr/tigerpool,음식점>양식,NaN,NaN,서울특별시 성동구 성수동2가 309-143,서울특별시 성동구 성수이로7가길 7,37.540899,127.054914
3,성수카페거리,성수다락,성수다락,http://www.instagram.com/sungsu_darak,"이탈리아음식>스파게티,파스타전문",NaN,NaN,서울특별시 성동구 성수동2가 328-15 2층,서울특별시 성동구 뚝섬로9길 20 2층,37.539896,127.056259
4,성수카페거리,bd버거 성수,bd버거 성수,https://www.instagram.com/bdburger.official,음식점>햄버거,NaN,NaN,서울특별시 성동구 성수동2가 322-20 2층 bd버거 성수,서울특별시 성동구 성수이로14길 7 2층 bd버거 성수,37.541097,127.056466

In [63]:
df = pd.DataFrame(data)

column_to_process = 'category'

result_df = pd.DataFrame(index=df.index)

for i, row in df.iterrows():
    phrases = row[column_to_process].split('>')  # >를 기준으로 1차 분리
    sub_phrases = []
    for phrase in phrases:
        sub_phrases.extend(phrase.split(','))  # ,를 기준으로 2차 분리
    sub_phrases = [sub_phrase.strip() for sub_phrase in sub_phrases]  # 앞뒤 공백 제거
    for sub_phrase in sub_phrases:
        if sub_phrase not in result_df.columns:
            result_df[sub_phrase] = 0  # 칼럼이 없으면 0으로 초기화
        result_df.at[i, sub_phrase] = 1  # 해당 칼럼에 1을 넣음

final_df = df.join(result_df)

print(final_df)

        검색어          검색결과             title  \
0    성수카페거리  37.5 시그니처 성수      37.5 시그니처 성수
1    성수카페거리            탐광                탐광
2    성수카페거리       타이거풀 성수           타이거풀 성수
3    성수카페거리          성수다락              성수다락
4    성수카페거리       bd버거 성수           bd버거 성수
..      ...           ...               ...
240   서울대공원  고베규카츠 서울 강남점      고베규카츠 서울 강남점
241   서울대공원         춘천한옥집             춘천한옥집
242   서울대공원       을지다락 강남           을지다락 강남
243   서울대공원          윕 성수              윕 성수
244   서울대공원  굴림샤브&콩국수 건대점  굴림샤브&amp;콩국수 건대점

                                                  link           category  \
0    https://www.instagram.com/37.5signature_seongsu_/             양식>브런치
1                                                  NaN         음식점>일식>일식당
2                   https://catchtable.co.kr/tigerpool             음식점>양식
3                http://www.instagram.com/sungsu_darak  이탈리아음식>스파게티,파스타전문
4          https://www.instagram.com/bdburger.official            음식점>햄버거
..                                                 ...                ...
240                 https://www.instagram.com/kobekyu/         음식점>일식>돈가스
241               https://www.instagram.com/hanok_zip/             음식점>한식
242              https://catchtable.co.kr/gangnamdarak             음식점>양식
243   https://booking.naver.com/booking/6/bizes/449878             음식점>양식
244                               http://gullim.co.kr/             음식점>한식

     description  telephone                                     address  \
0            NaN        NaN  서울특별시 성동구 성수동2가 316-31 1,2,3층 37.5 시그니처 성수
1            NaN        NaN                      서울특별시 성동구 성수동2가 315-24
2            NaN        NaN                     서울특별시 성동구 성수동2가 309-143
3            NaN        NaN                   서울특별시 성동구 성수동2가 328-15 2층
4            NaN        NaN           서울특별시 성동구 성수동2가 322-20 2층 bd버거 성수
..           ...        ...                                         ...
240          NaN        NaN                    서울특별시 강남구 역삼동 617-3 예촌빌딩
241          NaN        NaN                    서울특별시 강남구 역삼동 617-3 지하1층
242          NaN        NaN                      서울특별시 강남구 역삼동 818-6 2층
243          NaN        NaN                   서울특별시 성동구 성수동2가 299-63 1층
244          NaN        NaN             서울특별시 광진구 화양동 111-12 105호, 106호

                                  roadAddress   latitude  ...  한정식  초밥뷔페  \
0    서울특별시 성동구 연무장길 41-19 1,2,3층 37.5 시그니처 성수  37.543390  ...    0     0
1                         서울특별시 성동구 연무장5가길 26  37.543213  ...    0     0
2                         서울특별시 성동구 성수이로7가길 7  37.540899  ...    0     0
3                       서울특별시 성동구 뚝섬로9길 20 2층  37.539896  ...    0     0
4              서울특별시 성동구 성수이로14길 7 2층 bd버거 성수  37.541097  ...    0     0
..                                        ...        ...  ...  ...   ...
240                서울특별시 강남구 강남대로102길 29 예촌빌딩  37.502897  ...    0     0
241                서울특별시 강남구 강남대로102길 29 지하1층  37.502967  ...    0     0
242                   서울특별시 강남구 강남대로96길 22 2층  37.499920  ...    0     0
243                    서울특별시 성동구 광나루로4가길 5 1층  37.549586  ...    0     0
244              서울특별시 광진구 능동로 172 105호, 106호  37.545956  ...    0     0

     두부요리  치킨  닭강정  순대  순댓국  복어요리  닭요리  프랑스음식
0       0   0    0   0    0     0    0      0
1       0   0    0   0    0     0    0      0
2       0   0    0   0    0     0    0      0
3       0   0    0   0    0     0    0      0
4       0   0    0   0    0     0    0      0
..    ...  ..  ...  ..  ...   ...  ...    ...
240     0   0    0   0    0     0    0      0
241     0   0    0   0    0     0    0      0
242     0   0    0   0    0     0    0      0
243     0   0    0   0    0     0    0      0
244     0   0    0   0    0     0    0      0

[245 rows x 90 columns]

In [64]:
final_df = final_df.drop(columns=['검색결과', 'description', 'telephone', 'link', 'address', 'roadAddress', 'latitude', 'longitude', '음식점', '종합생활용품', '유통', '쇼핑', '생활', '편의', '꽃집', '꽃배달', '슈퍼', '마트'])
print(final_df)

        검색어             title           category  양식  브런치  일식  일식당  이탈리아음식  \
0    성수카페거리      37.5 시그니처 성수             양식>브런치   1    1   0    0       0
1    성수카페거리                탐광         음식점>일식>일식당   0    0   1    1       0
2    성수카페거리           타이거풀 성수             음식점>양식   1    0   0    0       0
3    성수카페거리              성수다락  이탈리아음식>스파게티,파스타전문   0    0   0    0       1
4    성수카페거리           bd버거 성수            음식점>햄버거   0    0   0    0       0
..      ...               ...                ...  ..  ...  ..  ...     ...
240   서울대공원      고베규카츠 서울 강남점         음식점>일식>돈가스   0    0   1    0       0
241   서울대공원             춘천한옥집             음식점>한식   0    0   0    0       0
242   서울대공원           을지다락 강남             음식점>양식   1    0   0    0       0
243   서울대공원              윕 성수             음식점>양식   1    0   0    0       0
244   서울대공원  굴림샤브&amp;콩국수 건대점             음식점>한식   0    0   0    0       0

     스파게티  파스타전문  ...  한정식  초밥뷔페  두부요리  치킨  닭강정  순대  순댓국  복어요리  닭요리  프랑스음식
0       0      0  ...    0     0     0   0    0   0    0     0    0      0
1       0      0  ...    0     0     0   0    0   0    0     0    0      0
2       0      0  ...    0     0     0   0    0   0    0     0    0      0
3       1      1  ...    0     0     0   0    0   0    0     0    0      0
4       0      0  ...    0     0     0   0    0   0    0     0    0      0
..    ...    ...  ...  ...   ...   ...  ..  ...  ..  ...   ...  ...    ...
240     0      0  ...    0     0     0   0    0   0    0     0    0      0
241     0      0  ...    0     0     0   0    0   0    0     0    0      0
242     0      0  ...    0     0     0   0    0   0    0     0    0      0
243     0      0  ...    0     0     0   0    0   0    0     0    0      0
244     0      0  ...    0     0     0   0    0   0    0     0    0      0

[245 rows x 72 columns]

In [69]:
final_df = final_df[~df['title'].isin(['네모네 롯데백화점 영플라자 명동점', '금성슈퍼', '화원김충희프라자'])]

In [70]:
final_df

,검색어,title,category,양식,브런치,일식,일식당,이탈리아음식,스파게티,파스타전문,...,한정식,초밥뷔페,두부요리,치킨,닭강정,순대,순댓국,복어요리,닭요리,프랑스음식
0,성수카페거리,37.5 시그니처 성수,양식>브런치,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,성수카페거리,탐광,음식점>일식>일식당,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,성수카페거리,타이거풀 성수,음식점>양식,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,성수카페거리,성수다락,"이탈리아음식>스파게티,파스타전문",0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,성수카페거리,bd버거 성수,음식점>햄버거,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,서울대공원,고베규카츠 서울 강남점,음식점>일식>돈가스,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
241,서울대공원,춘천한옥집,음식점>한식,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
242,서울대공원,을지다락 강남,음식점>양식,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243,서울대공원,윕 성수,음식점>양식,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
244,서울대공원,굴림샤브&amp;콩국수 건대점,음식점>한식,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
today_date = datetime.now().strftime('%Y-%m-%d')

In [72]:
filename = f'식당_분류_{today_date}.xlsx'

In [73]:
final_df.to_excel(filename, index=False)